<!DOCTYPE html>
<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="./css/styles.css">
    
</head>
<body>
    <header>
        <h1 class="welcome">Welcome</h1>
    </header>
   <nav class="nav">
       <ul>
           <li class="eachQ"><a href="/question1"> Question 1 </li>
           <li class="eachQ"><a href="/question2">Question 2 </li>
           <li class="eachQ"><a href="/question3">Question 3 </li>
           <li class="eachQ"><a href="/question4">Question 4</li>
           <li class="eachQ"><a href="/question5">Question 5</li>
           <li class="eachQ"><a href="/question6">Question 6 </li>
           <li class="eachQ"><a href="/question7"> Question 7</li>
           <li class="eachQ"><a href="/question8"> Question 8</li>
           <li class="eachQ"><a href="/question9">Question 9 </li>
           <li class="eachQ"><a href="/question10">Question 10</li>
       </ul>

   </nav>
</body>